{% extends 'base.html.twig' %}

{% block title %}
	{{ "title.ticket.list" | trans }}
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="https://cdn.datatables.net/1.12.0/css/jquery.dataTables.min.css">
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="my-3">{{ "title.ticket.list" | trans }}</h1>

		<center>
			<a href="{{ path('ticket_create') }}" class="btn btn-primary my-3">Ajouter un ticket</a>
			<a href="{{ path('ticket_pdf') }}" class="btn btn-danger">Export PDF</a>
			<a href="{{ path('ticket_excel') }}" class="btn btn-success">Export Excel</a>
		</center>

		<table class="table table-striped table-bordered table-hover" id="myTable">
			<thead>
				<tr>
					<th>ID</th>
					<th>object</th>
					<th>Created At</th>
					<th>Department</th>
					<th>Status</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				{% for ticket in tickets %}
					<tr class="link" data-href="{{ path('ticket_detail', {'id': ticket.id}) }}" style="cursor: pointer;">
						<th scope="row">{{ ticket.id }}</th>
						<td>{{ ticket.object }}</td>
						<td>{{ ticket.createAt | date('d/m/y H:i') }}</td>
						<td>{{ ticket.department.name}}</td>
						<td>{{ ticket.ticketstatut }}</td>
						<td>
							{% if (ticket.ticketStatut != 'finished') %}
								<a href="{{path('ticket_update',{'id' :ticket.id})}}" class="btn btn-success">
									<em class="fa-solid fa-gears"></em>
								</a>
							{% endif %}
							{% if ticket.ticketStatut == 'finished' %}
								<a href="{{path('ticket_delete',{'id' :ticket.id})}}" class="btn btn-danger">
									<i class="fa-solid fa-trash-can"></i>
								</a>
							{% endif %}

							{% if ticket.ticketStatut == 'wip' %}
								<a href="{{path('ticket_close',{'id' :ticket.id})}}" class="btn btn-warning">
									<em class="fa-solid fa-square-xmark"></em>
								</a>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}

{% block javascripts %}
	<script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
	<script src="https://cdn.datatables.net/1.12.0/js/jquery.dataTables.min.js"></script>
	<script>
		$(document).on('click', 'tr.link:not(a)', function (i) {
i.stopPropagation();
window.location.href = $(this).data('href');
});

$(document).ready(function () {
$('#myTable').DataTable();
});
	</script>
{% endblock %}
